@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

:root{
    max-width: 1220px;
    margin: 0 auto;
}

.section-container{
    width: 1220px;
    margin: 0 auto;
    padding: 5rem 1rem;
}
.section-header{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: flex;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Mulish', sans-serif;
}

nav{
    width: 1220px;
    display: flex;
    margin: 0 auto;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 800;
    align-items: center;
    display: flex;
    gap: 10px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    color: #424247;
    font-weight: 400;
    transition: 0.3s;
}
.link a:hover{
    color: coral;
}

.header-container{
    padding: 1rem 1rem 5rem 1rem;
}

.header-img-container{
    position: relative;
    min-height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content{
    width: 100%;
    padding: 7rem ;
    text-align: center;
    align-items: center;
    

}
.header-content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: normal;
    font-weight: 800;
    color: #fff;
}
.header-content p{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    
}
.booking-container{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}
.booking-container form{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.booking-container .input-group{
    width: 100%;
    position: relative;
    
 
}
.booking-container label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 400;
    background: #fff;
}
.booking-container input{
    width: 50%;
    padding: 10px ;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
 

}
.booking-container .btn{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    background-color: #FF5400;
    border-radius: 8px;
    gap: 5px;
}

.popular-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}   

.popular-img{
    width: 540px;
    height: 550px;
    padding-top: 3rem;
    border-radius: 1rem;
    
}
.popular-content{
    width: 50%;
}


.popular-content h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.popular-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.popular-content li{
    margin-left: 1rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.popular-description .btn{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: #fff;
    background-color: #FF5400;
    border-radius: 8px;
    gap: 5px;
}

.destination-container{
    margin-top: 100px;   
}

.destination-content{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.destination-content h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.destination-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
    padding-top: 1rem;
    
}


.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.collage-1{
    grid-column: 1/span 6;
}
.collage-2{
    grid-column: 7/span 6;
}
.collage-3{
    grid-column: 1/span 4;
}
.collage-4{
    grid-column: 5/span 5;
}
.collage-5{
    grid-column: 10/span 3;
}
.collage-6{
    grid-column: 1/span 5;
}
.collage-7{
    grid-column: 6/span 7;
}

.choose-container{
    margin-top: 3rem;
    text-align: center;
    
}

.choose-content h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.choose-content p{
    font-size: 1rem;
    font-weight: 400;
}

.box-item{
   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    padding-top: 3rem;
}

.box-1 img{
    width: 4rem;
    height: 4rem;
}
.box-2 img{
    width: 4rem;
    height: 4rem;
}
.box-3 img{
    width: 4rem;
    height: 4rem;
}
.box-1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
    padding: 32px;
    grid-column: 1/span 6;
    
}
.box-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    text-align: left;
    padding: 32px;
    grid-column: 7/span 6;
    
}
.box-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    text-align: left;
    padding: 32px;
    grid-column: 4/span 6;
    
}

.box-1 h3{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}
.box-2 h3{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}
.box-3 h3{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}
.box-1 p{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.box-2 p{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.box-3 p{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}












/* responsive starts here  */

@media screen and (max-width: 600px) {
    .nav-links{
        display: none;
    }

    .header-container{
        padding-bottom: 25rem;
    }

    .booking-container{
        flex-direction: column;
        width: 100%;
        bottom: -25rem;
    }

    .booking-container form{
        grid-template-columns: repeat(1, 1fr);
    }

    .gallary{
        flex-direction: column;
        width: 100%;
    }

    .popular-description{
        flex-direction: column;
        width: 100%;
    }

    .destination-container{
        flex-direction: column;
        width: 100%;
    }

    .gallary{
        flex-direction: column;
    }

    .img-container{
        flex-direction: column;
    }



    
}
